RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^register.html/?$   ?q=register        [NC,L]
RewriteRule    ^registerPost.html/?$   ?q=registerPost        [NC,L]
RewriteRule    ^login.html/?$   ?q=login        [NC,L]
RewriteRule    ^loginPost.html/?$   ?q=loginPost        [NC,L]

RewriteRule    ^home.html/?$   ?q=home        [NC,L]
RewriteRule    ^newEntry.html/?$   ?q=newEntry        [NC,L]
RewriteRule    ^accessDelegation.html/?$   ?q=accessDelegation        [NC,L]
RewriteRule    ^terminateAccess.html/?$   ?q=terminateAccess        [NC,L]
RewriteRule    ^logout.html/?$   ?q=logout        [NC,L]

SetEnv BLOCKCHAIN_ENV dev