.margin-0-auto{
    margin: 0 auto;
}

.registerForm,
.loginForm,
.registerPost {
    top: -30em;
    background-color: #ffffff;
    margin:0 auto;
    padding: 1em;
    box-shadow: 10px 10px 5px 0px #00578A;
}